*
!kitty/
!kitty/**
!nvim/
!nvim/**
nvim/lazy-lock.json
!posh/
!posh/**
!shell/
!shell/**
!tmux/
!tmux/**
tmux/plugins/
tmux/plugins/**
!utils/
!utils/**

!.gitignore
!.gitmodules
!README.md
!init.sh
